include includes/card.pug
html  
	head
		title UMass Fitness Helper
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='https://use.fontawesome.com/c4f10d98b2.js')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src='/js/script.js')

	body
		div.container
			div.header.clearfix
				nav.navbar.navbar-light.bg-faded
					a.navbar-brand
						h3.text-muted.umass UMass Meal Chooser
					h5.text-muted.umass Worcester Dining Common
			div.jumbotron
				div.centered
					h2 Generate a custom meal plan!
				ul.nav.nav-tabs.meals-nav
					each item, index in meals
						- var fixedName = index
						- fixedName = fixedName.replace("_menu","")
						- fixedName = fixedName.charAt(0).toUpperCase() + fixedName.slice(1);
						li.nav-item
							a(class="nav-link" href="#"+index role="tab" data-toggle="tab") #{fixedName}
				hr
				div.fillout.tab-content
					each item, index in meals
						div(role="tabpanel" class="tab-pane" id=index)
							div.row
								div.col-md-4.icol
									- for(var j = 0; j < Math.floor(Object.keys(item).length / 3); j++){
										- var i = item[j]
										+card(i)
									- }
								div.col-md-4.icol
									- for(var j = Math.floor(Object.keys(item).length / 3); j < (2 * (Math.floor(Object.keys(item).length /3))); j++){
										- var i = item[j]
										+card(i)
									- }
								div.col-md-4.icol
									- for(var j = (2 * (Math.floor(Object.keys(item).length / 3))); j < Object.keys(item).length; j++){
										- var i = item[j]
										+card(i)
									- }

