.card:hover{
  border-color: rgb(52,152,219);
}

.card.selected{
  border-color: green !important;
}

.pin-card{
  z-index: 1000;
  display: none;
    top: 5px;
    right: 5px;
    position: absolute;
}

.btn-circle.btn-sm{
  width: 30px;
  height: 30px;
  padding: 3px 4px;
  line-height: 1.33;
  border-radius: 15px;
}

.card {
    min-height: 100px !important;
    position: relative;
    vertical-align:top !important;
}

.card-info {
  display:none;
  background-color: white;
}

.centered{
  text-align: center;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ECF0F1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #2C3E50;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron h2 {
  color: #ECF0F1;
}


.navbar {
  text-align: center;
  background-color: #3498DB;
}
.fillout{
  padding : 20px;
  background-color: #ECF0F1;
}
.hr {
  background-color: #374D63;
}
.umass {
  color : #ECF0F1 !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    color: #ECF0F1;
    background-color: #E74C3C;
    border-color: #E74C3C;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
